<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Manage Customer</h1>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Adderss</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>C001</td>
        <td>Lahiru</td>
        <td>Galle</td>
        <td>100.00</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
